* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}
.app{
background-color: #eee9;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: #73BBC9;
}
.navbar a:hover {
  background-color: #fc9cc493;
}
a {
  color: black;
}
.auth-container { 
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.auth-container >h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}
.auth-container > form  {
  border: 1px solid #73BBC9;
  padding: 20px;
  border-radius: 5px;
  background-color: #F1D4E5;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
  border: 3px solid #73BBC9;
}
.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
  border: 3px solid #73BBC9;
}

.public {
  height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  background-color: rgb(255, 255, 255);
}
.profile >h1 {
  margin: 8px;
  font-size: 50px;
  text-align: center;
}
.profile > h3 {
  margin: 16px 0;
  text-decoration: underline;
}
.profile > form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  background-color: #F1D4E5;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #73BBC9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;

}
.profile > form > input,
.profile > form > input {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
}
.profile-yourissues{
  font-size: 20px;
  font-weight: 900;
}
img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

/* vote.jsx  */
.title{
font-size: 40px;
font-weight: 300;
text-align: center;
}
.description {
  font-size:  20px;
  font-weight: 300;
  text-align: center;
}
.comment{
  font-size: 12px;
  font-weight: 100;
  width: 300px;
  border: 1px solid #73BBC9;
  text-align: center;
  margin: auto;
}
