*{
  margin: 0;
 }
body {
  background-image: url('https://images3.alphacoders.com/178/178309.jpg');
  background-repeat: no-repeat;
  height: 300vh;
  width: -20vw;
  background-size: cover;
  margin: 0px;
  /* display: flex;
  flex-direction: column; */
}
 .App {
  width: 100%;
 }

 .headerContainer {
  /* background-size: cover; */
  background-color: rgba(255, 255, 255, 0.125);
  margin-top: 200px;
  width: 100vw;
  text-align: center;
  height: 400px;
  /* color: brown; */
 }
.Gryffindor {
  color: brown;
  font-size: 18px;
}
.Hufflepuff {
  color: rgb(255, 255, 3);
  font-size: 18px;
}
.Ravenclaw {
  color: blue;
  font-size: 18px;
}
.Slytherin {
  color: green;
  font-size: 18px;
}
 .headerContainer h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: white;
  padding-bottom: 50px;
}

.headerContainer p {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: lighter;
  color: white;
}
button {
  text-align: center;
}

.headerContainer button {
  margin-top: 20px;
  display: flex;
  color: black;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: rgb(200, 167, 23);
  text-decoration: none;
  font-size: 20px;
}

 .navbar {
  background-color: black;
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  /* outline: 1px solid red; */
  flex-direction: row;
  justify-content: space-between;
}
.nav-links {
  font-size: 36px;
  padding: 10px;
}

.card {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 100%;
  border: 1px solid #ccc;
  height: 300px;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  box-shadow: 2px 2px 5px #ccc;
}

.home, .SecondLink, .ThirdLink, .FourthLink {
  /* height: 80vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.footer > p{
   /* display: flex; 
  flex-direction: column;
  justify-content: end;
  align-items: center;  */
  /* padding: 10px 0px; */
  /*width: 100%;*/
  /* padding-top: 25px; */
  /* padding-top: 50vh; */
  /* height: 120vh; */
  /* background-color: blueviolet; */

}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: black;
  color:darkgoldenrod;
  font-size: 36px;
  height: 60px;
}

.SecondLink {
  /* background-image: url('https://images3.alphacoders.com/178/178309.jpg');
  background-size: cover;  */
   /* display: flex;  */
   /* margin-top: 0px;    */
  width: 100vw;
  height: 100vh;
  /* background-repeat: no-repeat; */
  margin-bottom: 0px; 
   color: aliceblue;
 }
 .ThirdLink {

 }

@media screen and (max-width: 2400px) {
  .home {
    /* height: 200vh; */
  }
  .SecondLink {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
 
}
@media screen and (max-width: 1280px) {
  .navbar {
    width:104vw;
  }
  }
@media screen and (max-width: 1024px) {
  .navbar {
    width:104vw;
  }
  }
@media screen and (max-width: 912px) {
.navbar {
  width:104vw;
}
}
@media screen and (max-width: 820px) {

    .navbar {
      width: 113vw;
    }
}


@media screen and (max-width: 768px) {

  .navbar {
    width: 120vw;
  }



}
@media screen and (max-width: 580px) {

  .navbar {
    width: 240vw;
  }

}
@media screen and (max-width: 360px) {

  .navbar {
    width: 255vw;
  }

}
@media screen and (max-width: 330px) {

   .App {
    /* width: 200vw; */
   }
   .SecondLink {
     background-size: 100px;
    height: 240vh;
   } 
   .ThirdLink {
    background-size: 100px;
    height: 240vh;
   }

  .footer > p{
    /* padding-top: 130vh; */
  }
  .navbar {
    width: 300vw;
  }
  .headerContainer {
    /* background-size: cover; */
    background-color: rgba(255, 255, 255, 0.125);
    margin-top: 200px;
    width: 150vw;
    height: 400px;
    text-align: center;
   }
  
   @media screen and (max-width: 280px) {

    .navbar {
      width: 325vw;
      height: 30vh;
    }
    .footer{
      height: 30vh;
    }
  }
}











































