*{
  margin: auto;
 }
body {
  background-image: url('https://images3.alphacoders.com/178/178309.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  flex-direction: column; */
}
 .App {
  width: 100%;
 }

 .headerContainer {
  background-size: cover;
  height: 140vh;
  width: 100vw;
  text-align: center;
 }

 .headerContainer h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
  padding-bottom: 50px;
}

.headerContainer p {
  text-align: center;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}
button {
  text-align: center;
}

.headerContainer button {
  margin-top: 20px;
  display: flex;
  color: black;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: rgb(200, 167, 23);
  text-decoration: none;
  font-size: 20px;
}

 .navbar {
  background-color: black;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}


.card {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 100%;
  border: 1px solid #ccc;
  height: 300px;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  box-shadow: 2px 2px 5px #ccc;
}

.home, .SecondLink, .ThirdLink, .FourthLink {
  /* height: 80vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.footer > p{
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; */
  /* padding: 10px 0px; */
  /*width: 100%;*/
  /* padding-top: 25px; */
  /* padding-top: 50vh; */
  /* height: 120vh; */
  /* background-color: blueviolet; */

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: black;
  color:darkgoldenrod;
  font-size: 56px;
  height: 120px;
}

.SecondLink {
  /* background-image: url('https://images3.alphacoders.com/178/178309.jpg');
  background-size: cover;  */
   /* display: flex;  */
   /* margin-top: 0px;    */
  width: 100vw;
  height: 100vh;
  /* background-repeat: no-repeat; */
  margin-bottom: 0px; 
   color: aliceblue;
 }
 .ThirdLink {

 }

@media screen and (max-width: 2400px) {
  .home {

    height: 200vh;
 
  }

  /* .SecondLink {
    width: auto;
   } */

  .ThirdLink, .FourthLink {

  }
  .navbar {
    /* width: 100vw; */
  }

  .footer > p{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; */
    /* height: 135vh; */
    /* padding-top: 100vh; */
    /* padding-top: 150vh; */
  
  }
}

@media screen and (max-width: 800px) {
  
  /* .home, .SecondLink, .ThirdLink, .FourthLink {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
  }
   */
  .App {
    /* width: 150vw; */
  }
  /* .SecondLink {
    width: auto;
   } */
  .navbar {
    /* width: 100vw; */
  }
  .footer > p{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; */
    /* height: 135vh; */
    /* padding-top: 60vh; */
    /* padding-top: 150vh; */
  
  }
  
  
}

@media screen and (max-width: 580px) {
  .headerContainer {
   /* background-size: cover;
    width: 700px; */
   }
   /* .SecondLink {
    width: auto;
   } */

  .footer > p{
    /* padding-top: 130vh; */
  }
  
  .navbar {
    /* width: 100vw; */
  }

}

@media screen and (max-width: 330px) {
  .headerContainer {
   /* background-size: cover;
    width: 700px; */
   }

   .App {
    /* width: 200vw; */
   }

   .SecondLink {
     background-size: 100px;
    height: 240vh;
   } 
   .ThirdLink {
    background-size: 100px;
    height: 240vh;
   }

  .footer > p{
    /* padding-top: 130vh; */
  }
  .navbar {
    /* width: 100vw; */
  }
  
  /* .navbar {
    width: 700px;

  } */

}











































